/* Custom properties/variables  */
:root {
  --white: #f0f0f0;
  --black: #303841;;
  --primary-color:  ##0DA5A3;
  --main-font: sans-serif;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 4 = 25%, 1rem = 4px, 25% = 4px
  */
  font-size: 25%;
  font-family: var(--main-font);
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  font-size: 15rem;
  background-color: var(--black);
  text-align: center;
}

h1 { 
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

 /* unvisited link */
a:link {
  color: var(--primary-color);
}

/* visited link */
a:visited {
  color: var(--primary-color);
}

/* mouse over link */
a:hover {
  color: var(--primary-color);
}

/* selected link */
a:active {
  color: var(--primary-color);
} 
